#leftheader {
    margin-left: 15%;
    margin-top: 15px;
    display: block;

}

header h1  {
    display: inline-block;
    margin-left:10px ;


}

header p {
    margin-left:50px ;

}



#leftheader  img {
 
    display: block;
    float: left;
}

#rightheader {
    position: relative;
    margin-right: 15%;
    float: right;
}
#rightheader img:nth-child(6){
    margin-right: 8px;
        

}

hr.rounded {
    
    border-top: 8px solid #bbb;
    border-radius: 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;


  }
  


  #title{
    margin-left: 15%;
    margin-right: 15%;
      

  }
  #title figure {
      float: right;
  }
  #title figcaption {
display: inline-block; 
}

#mainimg {
    margin-top: 40px;
    display: block;
    text-align: center;
}

#para {
    margin-top: 20px;
margin-left: 15%;
margin-right: 15%;

}

#para p {
    text-indent: 30px;
  }
  
main {
    position: relative;
}

  #checkbox {
      margin-top: 40px;
    background-image:url(https://github.com/LTUC/amman-201d22/blob/main/class-10/lab-a/lab-assets/list-bg.png?raw=true );
      background-repeat: no-repeat;
      height: 200px;
      margin-left: 17%;
      margin-right: 17%;

    
    
  }

  #firsthalf{
      margin-top: 5%;
      margin-left: 10%;
      display: inline-block;
  }

  #sechalf {
    margin-top: 5%;

      display: inline-block;
float: right; 
margin-right: 10%;}